.container__auth{
    position: relative;
    height: 100vh;
}


.auth__nav{
    display: flex;
    li{
        position: relative;
        margin-right: 35px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.1s linear;
        padding: 10px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 0;
            height: 3px;
            border-radius: 10px;
            background-color: #007793;
            opacity: 0;
            transition: all 0.1s linear;
        }
        &:hover{
            color: #007793;
            &::after{
                width: 100%;
                opacity: 1;
            }
        }
    }
    .nav-active{
        color: #007793;
        &::after{
            width: 100%;
            opacity: 1;
        }
    }
}

main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #007893dc;
    color: white;
    border-radius: 30px;
    padding: 60px;
    white-space: nowrap;
    text-align: center;
}

.form__auth{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    font-size: 17px;
    position: relative;
    input{
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #007793;
        margin-bottom: 10px;
        font-size: 17px;
        &:focus{
            outline: none;
        }
    }
    .btn-auth{
        width: 50%;
        margin: auto;
        padding: 10px;
        border-radius: 15px;
        color: #000;
        text-align: center;
        border: 1px solid #007793;
        font-size: 17px;
        cursor: pointer;
        transition: all 0.1s linear;
        &:hover{
            background-color: #007893;
            color: white;
        }
    }
    .email.error{
        color: red;
        margin-top: -1px;
        font-weight: bold;
    }
    .password.error{
        color: rgb(247, 49, 49);
        margin-top: -1px;
        font-weight: bold;
    }
}