.main_container {
    height: 100%;
    .section_container{
        display: flex;
        justify-content: space-around;
    }

    main.mainContainer__post {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex: 1;


        .iconImgAndPost {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 15px;
            padding-top: 6px;
            padding-bottom: 9px;
            border-top: 1px solid #c0c0c0;
        }

        i {
            font-size: 25px;
            color: rgba(156, 163, 175, 12);
            margin-top: 10px;
            cursor: pointer;
        }
    }

    

    .friend_Post_No_Img {
        border-radius: 15px;
        margin-top: 20px;
        padding: 10px;
        background-color: #fff;
        color: #000;
        font-size: 17px;
        width: 70%;
        margin:10px auto;

        .container_name_img_time_update {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            margin-right: 15px;
            margin-left: 15px;
        }

        .img-name-time {
            display: flex;
            align-items: center;
        }

        .nameAndT {
            margin-left: 10px;
            text-align: start;
        }

        .update {
            i.fa-pen-to-square {
                margin-right: 30px;

                &:hover {
                    color: rgb(46 161 140);
                }
            }

            i.fa-trash-can {
                &:hover {
                    color: rgba(190, 18, 60, 1);
                }
            }
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid rgb(225, 29, 72);
        }

        .viewPost {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 90%;

            img {
                width: 100%;
                height: 300px;
                border-radius: 15px;
                border: 2px solid rgba(243, 244, 246, 1);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-top: 8px;
            }
        }

        i {
            font-size: 25px;
            color: rgba(156, 163, 175, 12);
            margin-top: 10px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }

        .fa-regular.fa-heart:hover {
            color: rgb(225, 29, 72);
        }

        .fa-solid.fa-heart {
            color: rgb(225, 29, 72);
        }
    }
    .articleHome{
        flex: 0.5;
        .divContainer{
            width: 98%;
            margin:10px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
        }
    }
    .asideHome{ 
        flex: 0.5;
        h2{
            color: rgb(225, 29, 72);
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .divContainer{
            width: 98%;
            margin:10px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
        }
        .eachUser{
            margin-bottom: 20px;
            display: flex;
            // flex-wrap: wrap;
            width: 100%;
        }
        .user{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 40%;
            margin-bottom: 20px;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid rgb(225, 29, 72);
                text-align: center;
            }
            .name{
                // margin-top: 5px;
                font-size: 17px;
                color: #000;
                font-weight: bold;
            }
        }
    }
}