.main_container{
    background-color: rgba(243,244,246,1);
    width: 100%;
    main.mainContainer__post{
        width: 50%;
        height: 100%;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .myPost{
            background-color: #820813;
            border-radius: 15px;
            margin-top: 20px;
            padding: 10px;
            width: 550px;
        }
        .message{
            width: 90%;
            height: 120px;
            border: 1px solid #820813;
            border-radius: 5px;
            margin-top: 10px;
            padding: 5px;
            font-size: 19px;
            &:focus{
                outline: none;
            }
            &::-webkit-scrollbar {
                width: 12px;
            }
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            &::-webkit-scrollbar-thumb {
                background: #820813;
                border-radius: 20px;
                border: 1px solid #f1f1f1;
            }
        }
        
        .iconImgAndPost{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 15px;
            padding-top: 6px;
            padding-bottom: 9px;
            border-top: 1px solid #c0c0c0;
        }
        i{
            font-size: 25px;
            color: #565656;
            margin-top: 10px;
            cursor: pointer;
        }
    }
    .friend_Post_No_Img{
        border-radius: 15px;
            margin-top: 20px;
            padding: 10px;
            width: 550px;
        background-color: #fff;
        color : #000;
        .container_name_img_time_update{
            display: flex;
            justify-content: space-between;
            margin-bottom:20px;
            margin-right: 15px;
            margin-left: 15px;
        }
        .img-name-time{
            display: flex;
            align-items: center;
        }
        .nameAndT{
            margin-left: 10px;
            text-align: start;
        }
        .update{
            i.fa-pen-to-square{
                margin-right: 30px;
                &:hover{
                    color: rgb(46 161 140);
                }
            }
            i.fa-trash-can{
                &:hover{
                    color: rgba(190,18,60,1);
                } 
            }
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 2px solid rgb(225, 29, 72);
        }
        .viewPost{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 90%;
            img{
                width: 100%;
                height: 300px;
                border-radius: 15px;
                border: 2px solid rgba(243,244,246,1);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-top: 8px;
            }
        }
        i{
            font-size: 25px;
            color: grey;
            margin-top: 10px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }
        .fa-regular.fa-heart:hover{
            color: rgb(225, 29, 72);
        }
        .fa-solid.fa-heart{
            color: rgb(225, 29, 72);
        }
    }
}