.profilContainer{
    position: relative;
    height: 100%;
    img.workerImg{
        position: absolute;
        bottom: 0;
        left: -35px;
        z-index: -1;
    }
    .profilSection{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 3px #027691 solid;
        display: flex;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        border-radius: 3rem;
    }
    .nav{
        padding: 10px;
        display: flex;
        flex-direction: column;
        border-right: 4px solid red;
        li{
            margin: 10px 15px;
            cursor: pointer;
            border: 3px #027691 solid;
            padding: 15px 16px;
            border-radius: 30px;
            font-size: 1.3em;
            text-align: center;
            white-space: nowrap;
            font-weight: 600;
            position: relative;
            transition: all .2s ease-in-out;
            overflow: hidden;
            &::after{
                content: "";
                height: 20px;
                width: 147px;
                height: 43px;
                background-color: #027691;
                position: absolute;
                bottom: -44px;
                left: 0;
                z-index: -1;
                border-radius: 30px;
                transition: all .3s ease-in-out;
            }
            &:hover{
                color: white;
                &::after{
                    width: 155px;
                    height: 60px;
                    bottom: -44px;
                    left: -1px;
                    border-radius: 30px;
                    transform: translateY(-44px);
                }
            }
            &.activeBtn{
                transition: .1s linear;
                color: white;
                background-color: #027691;
            }
            
        }
    }
    #loginForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            // margin-bottom: 25px;
        }
        label{
            margin: 10px 0;
            font-size: 1.3em;
        }
        input.champ{
            // margin: 10px 0;
            padding: 10px 30px;
            border-radius: 30px;
            border: 2px #027691 solid;
        }
    }
    .btnConection{
        // margin: 38px 0px;
        cursor: pointer;
        padding: 15px 16px;
        border-radius: 30px;
        font-size: 1.3em;
        text-align: center;
        white-space: nowrap;
        font-weight: 600;
        border: none;
        transition: all .2s ease-in-out;
        background-color: #06b2d8;
        color: white;
        &:hover{
            background-color: #0594b4;
        }
    }
    .formContainer{
        padding: 50px;
    }
}
