header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, .08);
    height: 90px;
    &__img{
        display: flex;
        align-items: center;
    }
    img.imgLogo{
        width: 260px;
        height: 260px;
        margin-right: 0.5rem;
    }
    .iconsNav{
        display: flex;
        img.iconUser{
            width: 30px;
            height: 30px;
            margin-right:40px;
        }
        img.iconLogout{
            width: 30px;
            height: 30px;
            // margin-right: 20px;
        }
    }
}